* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.toboolist {
    padding-left: 5px;
    font-weight: bold;
    font-size: 40px;
    font-family: system-ui;
    padding-bottom: 10px;
}

.logo {
    padding-left: 20px;
    padding-right: 5px;
}

header {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

body {
    background-color: #f6f8fa
}

main {
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

section{
    padding-left: 50px;  
    padding-right: 50px;  
}

.separator{
    border-bottom:3px solid#f6f8fa
}
#button-section{
    height: 50px;
    display:flex;
    align-items: center;
}
#button-section button{
    margin-right: 5px;
    height: 28px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
#add-task{
    background-color:#48adf0;
    color:white;
    border: none;
}
#add-section{
    color:gray;
    background-color: white;
    border: 1px solid gray;
}