* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.toboolist {
    padding-left: 5px;
    font-weight: bold;
    font-size: 40px;
    font-family: system-ui;
    padding-bottom: 10px;
}

.logo {
    padding-left: 20px;
    padding-right: 5px;
}

header {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

body {
    background-color: #f6f8fa;
}

main {
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 60px;
}

section {
    padding-left: 50px;
    padding-right: 50px;
}

.separator {
    border-bottom: 3px solid#f6f8fa;
}

#button-section {
    height: 50px;
    display: flex;
    align-items: center;
}

#button-section button {
    margin-right: 5px;
    height: 28px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

#add-task {
    background-color: #48adf0;
    color: white;
    border: none;
}

#add-section {
    color: gray;
    background-color: white;
    border: 1px solid gray;
}

.title-task img {
    width: 25px;
    height: 20px;
    padding-top: 8px;
}

.title-new-task {
    font-weight: 700;
    color: #47494a;
    font-size: x-large;
}

.task {
    margin-top: 20px;
    font-family: arial; 
}

.element {
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
}

.e-box{
     margin-left: 10px;
    border-radius: 15px;
    font-size: small;
    padding: 10px;
    background-color: grey;
    color: black;
}

.e-box-blu {
    background-color: #4bade5;
    color: white;
}

.e-text {
    font-size: medium;
    font-weight: 500;
}

.e-box-purple {
    background-color: #9b74e8;
    color: white;
}

.e-icon{
    display:inline-block;
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 20px;
    width: 24px;
    height: 24px;
    padding-left: 3px;
    border: 2px solid;
}

.green {
    color: green;
    border-color: green;
}

.red {
    color: red;
    border-color: red;
}

.e-box-green {
    background-color: #63c1a8;
    color: white;
}
.e-box-orange {
    background-color: #f69f32;
   color: white; 
}
.e-box-pink {
    background-color: #da659f;
    color: white;
}  

.e-box-olive {
    background-color: #aec822;
    color: white;
}